# My helper files
/HELP

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json


# dependencies
/donatello_shop/node_modules
/donatello_shop/.yarn/*
!/donatello_shop.yarn/patches
!/donatello_shop.yarn/plugins
!/donatello_shop.yarn/releases
!/donatello_shop.yarn/versions

# next.js
/donatello_shop/.next/
/donatello_shop/out/

# production
/donatello_shop/build


# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

